.footer {
	background-color: #1F1F1F;
	height: 90px;
	margin-top: 20px;

	// .footer__body
	
	&__body {
		max-width: $mw;
		margin: 0 auto;
	}
	
	// .footer__row
	
	&__row {
		margin: 0 -10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #fff;
	}

	// .footer__logo

	&__logo {
		padding: 35px 10px;
	}

	// .footer__author

	&__author {
		padding: 35px 10px;
	}
}
.container__fluid {
	width: 100%;
}

